SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/app
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_USERNAME=root
SPRING_DATA_REDIS_PASSWORD=root

APP_SECURITY_ISSUER=http://localhost:8080
APP_SECURITY_ACCESS_TOKEN_TTL=15m
APP_SECURITY_REFRESH_TOKEN_TTL=30d

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
APP_SECURITY_OAUTH_REDIRECT_URI=http://localhost:8080/auth/oauth/google/callback
APP_SECURITY_OAUTH_FRONTEND_REDIRECT_URIS=http://localhost:3000

MASTER_KEY_CURRENT=T0lAz7OFoQzWppf2ELABM2XEKF+9ZWpydq00x5lHEhM=
# MASTER_KEY_PREVIOUS=<base64-encoded-32-byte-key>  # optional, for key rotation
